.relatedProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}
.relatedProducts h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
}
.relatedProducts hr {
  width: 250px;
  height: 6px;
  border: none;
  outline: none;
  background-color: #252525;
  border-radius: 10px;
}
.relatedProducts-items {
  display: flex;
  padding: 50px;
  gap: 30px;
}
.relatedProducts .item {
  width: 280px;
}
.relatedProducts .item img {
  width: 280px;
}
