.descriptionBox {
  margin: 120px 120px;
}
.descriptionBox-navigator {
  display: flex;
}
.descriptionBox-nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  width: 171px;
  height: 70px;
  border: 1px solid #d0d0d0;
}
.fade {
  color: #555;
  background-color: #fbfbfb;
}
.descriptionBox-des-content {
  display: flex;
  flex-direction: column;

  gap: 25px;
  border: 1px solid #d0d0d0;
  padding: 38px;
  padding-bottom: 70px;
}
.descriptionBox-des-content p {
  text-align: start;
}
